@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}
button{
    border: none;
}
a{
    text-decoration: none;
    color: inherit;
}
::-webkit-scrollbar {
    width: 3px;
}

  /* Track */
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    display: none;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(133, 133, 133, 0); 
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    display: none;
    background: rgba(85, 85, 85, 0); 
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-image: url("../images/background/Fuchsia.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 40% 0;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    /* border: solid white; */
}
#root .stylize-welcome{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* border: solid white; */
}
#root .mindium{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 0;
    margin-top: 35px;
}
#root .tagline{
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
}
#root .explore-btn{
    font-size: 20px;
    font-weight: 700;
    color: white;
    width: fit-content;
    text-align: center;
    background: #6D9CF8;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
}
#root .tagline-extended{
    font-size: 16px;
    max-width: 90vw;
    font-weight: 600;
    line-height: 16px;
    color: rgb(100, 100, 100);
    padding: 5px 25px;
    margin-top: 20px;
    /* border: green solid; */
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 15px;
    opacity: 0;
}
.faq1{
    font-size: 16px;
    max-width: 90vw;
    font-weight: 600;
    line-height: 16px;
    color: rgb(100, 100, 100);
    padding: 20px 25px;
    margin-bottom: 25px;
    flex-shrink: 0;
    /* border: green solid; */
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 15px;
    opacity: 0;
}
.faq2{
    font-size: 16px;
    max-width: 90vw;
    font-weight: 600;
    line-height: 16px;
    color: rgb(100, 100, 100);
    padding: 20px 25px;
    margin-bottom: 25px;
    flex-shrink: 0;
    /* border: green solid; */
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 15px;
    opacity: 0;
}
#root .tagline-extended p{
    padding: 10px 6px;
}
#root .tagline-extended p span{
    font-weight: 800;
}
.scroll-box1, .scroll-box2, .scroll-box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    position: relative;
    overflow-y: scroll;
    width: 90vw;
    min-height: 50vh;
    max-height: 70vh;
    background-color: rgba(80, 80, 80, 0.404);
    border-radius: 15px;
    margin-bottom: 25px;
}
.scroll-box1 h2, .scroll-box2 h2, .scroll-box3 h2{
    margin: 15px 0;
    min-height: 30px;
    color: rgb(255, 255, 255);
    z-index: 3;
    /* border: solid white; */
}
.scroll-box1 img{
    width: 70vw;
    max-height: 50vh;
    border-radius: 15px;
    margin-bottom: 15px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.scroll-box1 p{
    max-width: 70vw;
    /* margin: 0 35px; */
    z-index: 3;
    /* border-radius: 15px; */
    margin-bottom: 25px;
    /* position: relative; */
}
.unsupported-res{
    display: flex;
    position: absolute;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 999;
}
.unsupported-res h2{
    font-size: 50px;
    color: rgb(82, 82, 82);
    margin-bottom: 15vh;
}
.unsupported-res p{
    max-width: 80vw;
    /* border: violet solid; */
    background-color: rgba(87, 87, 87, 0.212);
    padding: 20px 30px;
    border-radius: 15px;
    color: rgb(61, 61, 61);
    font-size: 1em;
    font-weight: 600;
}
.scroll-box2 span{
    width: 80vw;
    min-height: 10vh;
    max-height: 10vh;
    margin-bottom: 25px;
    display: flex;
    z-index: 3;
    position: relative;
    overflow-y: hidden;
    cursor: pointer;
}
.scroll-box2 span::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.801);
    opacity: 0.5;
    z-index: -1;
    border-radius: 15px;
}
.scroll-box2 span img{
    min-width: 100px;
    max-width: 15vw;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    /* border: white solid; */
}
.scroll-box2 span p{
    min-width: 50vw;
    overflow: hidden;
    margin: 5px 10px;
    /* border: black solid; */
}
.menu-icon{
    position: fixed;
    bottom: 10px;
    right: 10px;
    /* opacity: 0; */
    cursor: pointer;    
    z-index: 4;
}
.back-icon{
    position: fixed;
    bottom: 10px;
    right: 10px;
    /* opacity: 0; */
    cursor: pointer;    
    z-index: 4;
}
.menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* justify-content: center; */
    align-items: center;
    background: white;
    z-index: 3;
    opacity: 0;
}
.menu .menu-top{
    position: relative;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.menu .menu-top img{
    margin-bottom: 20px;
}
.menu .menu-top h2{
    color: #666666;
}
.menu .menu-top p{
    max-width: 90vw;
    /* min-height: 10vh; */
    max-height: 20vh;
    margin-top: 10px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: #888888;
    /* flex-shrink: 5; */
}
.menu .divider{
    width: 65vw;
    height: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.068);margin-top: 10px;
}
.menu .menu-bottom{
    margin-top: 20px;
    width: 90%;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
    /* border: black solid; */
}
.menu .menu-bottom p{
    /* border: solid gray; */
    /* border-radius: 15px; */
    /* max-width: 100px; */
    /* min-height: 100px; */
    /* word-break: break-all; */
    font-weight: 700;
    /* padding: 5px; */
}
/* .menu .legal{

} */
.menu .menu-bottom span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: rgba(0, 0, 0, 0.041) solid;
    border-radius: 15px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    cursor: pointer;
}
.menu .menu-bottom span p{
    text-align: center;
    margin-top: 5px;
}
.blogs-viewer-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    z-index: 3;
    opacity: 0;
    overflow-y: auto;
}
.services-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* justify-content: center; */
    align-items: center;
    background: rgb(255, 255, 255);
    z-index: 3;
    opacity: 0;
    /* overflow-y: auto; */
}
.contact-us-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* justify-content: center; */
    align-items: center;
    background: rgb(255, 255, 255);
    z-index: 3;
    opacity: 0;
    /* overflow-y: auto; */
}
.free-session-booked{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.603);
    z-index: 6;
    /* border-radius: 15px; */
    opacity: 0;
    /* overflow-y: auto; */
}
.free-session-booked .contentBox{
    display: flex;
    flex-direction: column;
    min-width: 80vw;
    flex-grow: 0.1;
    max-width: 80vw;
    position: relative;
    min-height: 50vh;
    max-height: 80vh;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}
.contentBox h3{
    align-self: center;
    padding: 10px;
    color:rgb(88, 88, 88);
}
.contentBox p{
    align-self: center;
    margin: 0 20px;
    color:rgb(88, 88, 88);
    font-size: 16px;
    line-height: 16px;
}
.contentBox form{
    flex-shrink: 0;
    /* border: black solid; */
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentBox form span{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 100%;
    /* border: solid black; */
    margin: 5px auto;
}
.contentBox form span label{
    color: #525252;
}
.contentBox form span input{
    text-align: center;
    outline: none;
    margin-top: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.082);
    border-radius: 15px;
    min-height: 40px;
}
#submit-Btn{
    width: fit-content;
    align-self: center;
    height: fit-content;
    font-weight: 700;
    min-height: fit-content;
    padding: 5px 15px;
    background-color: black;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 10px;
    border:none;
    /* background: rgb(0, 0, 0); */
    cursor: pointer;
}
.blogs-viewer-container .mindium{
    color: rgb(134, 134, 134);
    font-size: 50px;
    font-weight: 600;
    min-height: 10vh;
    margin-top: 20px;
}
.contact-us-container .mindium{
    color: rgb(134, 134, 134);
    font-size: 50px;
    font-weight: 600;
    min-height: 10vh;
    margin-top: 20px;
}
.services-container .mindium{
    color: rgb(134, 134, 134);
    font-size: 50px;
    font-weight: 600;
    min-height: 10vh;
    margin-top: 20px;
}
.services-container .servicesContent{
    min-height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-us-container .contactusContent{
    min-height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-container .servicesContent p{
    flex-shrink: 0;
    min-height: max-content;
    color: rgb(119, 119, 119);
    font-weight: 500;
    /* margin: 10px 0; */
    margin-top: 10px;
    line-height: 16px;
    /* border: black solid; */
}
.cross-icon{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.services-container .servicesContent h3{
    color: rgb(88, 88, 88);
}
.services-container .servicesContent .button-under-services{
    display: flex;
    width: 205px;
    /* border: black solid; */
    /* margin: 20px auto; */
    border-radius: 15px;
    justify-content: center;
    font-weight: 700;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px 15px;
    /* margin: 10px auto; */
    cursor: pointer;
}
.services-container .servicesContent span{
    background-color: rgba(0, 0, 0, 0.082);
    padding: 10px;
    border-radius: 15px;
    /* overflow: hidden; */
    flex-shrink: 0;
    /* min-height: 100%; */
    margin: 20px auto;
    max-width: 90vw;
}
.contact-us-container .contactusContent .help{
    background-color: rgba(0, 0, 0, 0.082);
    padding: 10px;
    border-radius: 15px;
    /* overflow: hidden; */
    flex-shrink: 0;
    /* min-height: 100%; */
    margin: 20px auto;
    max-width: 90vw;
}
.contact-us-container .contactusContent .help p{
    color: rgb(119, 119, 119);
    font-weight: 500;
    /* margin: 10px 0; */
    margin-top: 10px;
    line-height: 16px;
    margin-bottom: 20px;
}
.contact-us-container .contactusContent .help h3{
    color: rgb(88, 88, 88);
}
.contact-us-container .contactusContent span a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 10px auto;
    width: 205px;
}

.services-container .servicesContent span{
    background-color: rgba(0, 0, 0, 0.082);
    padding: 10px;
    border-radius: 15px;
    /* overflow: hidden; */
    flex-shrink: 0;
    /* min-height: 100%; */
    margin: 20px auto;
    max-width: 90vw;
}
.services-container .servicesContent span .cost{
    /* color: rgb(73, 255, 88); */
    display: flex;
    font-weight: 700;
    max-width: 205px;
    /* width: fit-content; */
    color: rgb(136, 136, 136);
    margin-top: 20px;
    margin-bottom: -10px;
    /* border: solid black; */
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.055);
    /* align-self: center; */
    /* justify-self: center; */
    /* border: black solid; */
    /* text-align: center; */
}
.blogs-viewer-container img{
    max-width: 60vw;
    /* max-height: 400px; */
    object-fit: cover;
    border-radius: 15px;
    margin: 15px auto;
    display: block;
}
.blogs-viewer-container .blogContent p{
    max-width: 70vw;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: #aaaaaa;
}
.blogs-viewer-container .blogContent p h3{
    line-height: 20px;
    margin-top: 30px;
    color: rgb(134, 134, 134);
}
.blogs-viewer-container .blogContent p iframe{
    display: block;
    margin: 20px auto;
}
.scroll-box3 span{
    width: 80vw;
    min-height: 10vh;
    /* max-height: 10vh; */
    margin-bottom: 2px;
    display: flex;
    z-index: 3;
    /* position: relative; */
    overflow-y: hidden;
    /* cursor: pointer; */
}
.promotion
{   
    font-size: 12px;
    margin-bottom: 25px;
    color: white;
}
.book1sessionbtn{
    display: flex;
    font-weight: 700;
    color: white;
    width: fit-content;
    background-color: black;
}
.book3sessionsbtn{
    display: flex;
    font-weight: 700;
    color: white;
    width: fit-content;
    background-color: black;
}






















/*additional class appends*/
.align-items-to-start{
    justify-content: flex-start;
}
.make-invisible{
    display: none;
}
.blur-container{
    /* background-color: rgba(0, 0, 0, 0.13); */
    filter: blur(4px);
}