@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 3px;
}

  /* Track */
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    display: none;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(133, 133, 133, 0); 
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    display: none;
    background: rgba(85, 85, 85, 0); 
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h2{
    font-size: 55px;
    color: rgb(73, 73, 73);
}
.container h3{
    font-size: 12px;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 10px 25px;
    width: 100vw;
    text-align: center;
}
.container p{
    margin-top: 30px;
    max-width: 90vw;
    font-weight: 500;
    line-height: 16px;
    color: rgb(82, 82, 82);
}
.container span{
    background-color: black;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 20px 0;
    min-width: 160px;
    cursor: pointer;
    text-align: center;
}
.rpPayments{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 20px;
}
.unsupported-res{
    display: flex;
    position: fixed;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 999;
}
.unsupported-res h2{
    font-size: 50px;
    color: rgb(82, 82, 82);
    margin-bottom: 15vh;
}
.unsupported-res p{
    max-width: 80vw;
    /* border: violet solid; */
    background-color: rgba(87, 87, 87, 0.212);
    padding: 20px 30px;
    border-radius: 15px;
    color: rgb(61, 61, 61);
    font-size: 1em;
    font-weight: 600;
}
.make-invisible{
    display: none;
}
.main-policy{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    background-color: rgba(0, 0, 0, 0.075);
    padding: 10px;
    border-radius: 15px;
}
.main-policy p{
    height: 100%;
    flex-shrink: 0;
    padding: 5px 10px;
}